<div ng-controller="subjectsCtrl">
    <div class="container">
        <div class="jumbotron">
            <h1>Subjects</h1>
        </div>
    </div>
    <div class="container">
        <div class="jumbotron">

            <table class="table-striped table-bordered" align="center">
                <tr ng-repeat="subject in subjects">
                    <td>{{subject.name}}
                    <td>
                    <td>
                        <button ng-click="deleteSubject(subject)">Delete</button>

                    </td>
                </tr>
            </table>
        </div>
    </div>

    <div class="container">
        <div class="jumbotron">
            <h3>Add subject</h3>
            Name: <input type="text" ng-model="subject.name"><br>
            <button ng-click="addSubject(subject)">Add</button>

        </div>
    </div>
</div>

